@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

a {
  color: #ccc;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.centered {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

.navbar {
  background-color: #3c5560;
  border-radius: 0;
}

.navbar-link {
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-image {
  margin: 0 auto;
  box-shadow: 0 0 3px 1px #a7a7a7;
}

.card-text {
  margin-top: 10px;
}

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pt {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  flex: 0 0 auto;
  text-align: center;
  background-color: #4b6a78;
  padding-top: 15px;
  padding-bottom: 14px;
}

/* ================== IMAGES HOVER EFFECTS ================== */
/* Effects also are controled by hover.zoom.js */
.zoom {
  display: block;
  position: relative;
  overflow: hidden;
  background: transparent url(../img/loader.gif) no-repeat center;
}

.zoomOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 375px;
  display: none;
  background-image: url(../img/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
}

.zoom2 {
  opacity: 1;
}

.zoom2:hover {
  opacity: 0.5;
}

/* glyphicon Configuration */

.glyphicon {
  font-size: 40px;
  color: #bc1a27;
}
